:root {
    --highlight-color: #82c2c3;
    --framing-color: #354563;
    --main-background-color: #e9e9f5
}
body {
    background-color: var(--main-background-color);
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 85px;
    background-color: #1e1f23;
    margin: 0px;
}

h1 {
    padding: 6px 6px 6px 90px;
    background-color: var(--highlight-color);
}

h2 {
    color: var(--framing-color);
    font-size: 33px;
}


ul {
    list-style-type: none;
    padding: 0px;
}

li {
    color: var(--highlight-color);
    display: inline-block;
}

nav {
    padding: 20px;
}

nav a {
    color: var(--highlight-color);
    padding: 5px;
    font-size: 20px;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
    margin: 0;
    padding: 0;
  }




p {
    color: var(--framing-color);
}

#profile-picture {
    width: 300px; 
    object-fit: cover;  
}

@media screen and (max-width: 600px) {
    #profile-picture {
        width: 300px;   
        height: auto;
    }
}


#hero {
    width: 100vw;
    height: 2000;
    /* background-image: url("images/kira-field.png"); */
    background: linear-gradient(to right, var(--highlight-color) 80% , var(--main-background-color) 100%);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
}

/* #about-me img {
    display: block;
    max-width: 100%;
    height: auto;
} */


.flex-section
 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 3px solid var(--framing-color);
}

.section-name {
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
    /* padding: 9px;
    width: 90px;
    margin: 21px; */
}


#work {
    background-color: black;
}

#work-body {
    width: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lets-work-together-body {
}

.section-body {
    padding: 39px;
    width: 552px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-img {
    height: 236px;
    width: 420px;
    object-fit: cover;
    object-position: top;
    margin: 3px 3px 6px 3px;
    background-color: var(--highlight-color);
    opacity: 1;
}

.portfolio-img:hover {
    box-shadow: 0 0 10px 5px var(--highlight-color)
}

#lets-work-together {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--highlight-color) 80% , var(--main-background-color) 100%);   
}

#lets-work-together a {
    color: var(--framing-color);
    padding: 6px;
}

#lets-work-together li {
    padding: 6px;
    color: var(--framing-color);
}